.navbar{
    background-color: #F7EDE2;
    padding: 1rem 2rem;
    border-bottom: 1px solid #F5CAC3;
    padding-right: 28px;
    padding-left: 12px;
}
.navbar-logo img{
 height: 40px
}
.active{
    color: #84A59D;
}
.nav-link{
    padding: 6px !important;
}
.nav-link.active{
    color: #84A59D;
    font-weight: 600;
}
.nav-item{
    cursor: pointer;
    margin-left: 18px !important;
}
.nav-item i{
    font-size: 20px;
}